<!-- What we put in here (at least for index-requests(i.e. no resources)) will be imported into the body-tag in our layout-file -->
<h2 class="page-header">Recently Added</h2>
<%- include('partials/bookGrid', { books: books, large: true }) %> 